%h1 Choose a new password
= form_for @user, url: password_reset_path(@token), html: {method: :patch} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :email
    = @user.email
  .field
    = f.label :password, t('.new_password', new: @user.new_record? ? '' : 'new ')
    = f.password_field :password, placeholder: t('.new_password_placeholder'), autofocus: autofocus
  .field
    = f.label :password_confirmation, t('.retype_password')
    = f.password_field :password_confirmation, placeholder: t('.retype_password_placeholder')
  .actions
    = f.submit