= form_for @user do |f|
  = render partial: 'shared/form_errors', locals: { model: @user }
  = render partial: 'normal_fields', locals: { f: f }
  - if @user.new_record?
    = render partial: 'password_fields', locals: { f: f }
  .form-actions
    = f.submit edit_user_submit_text(@user)
    - if @user.persisted?
      %span#change_password
        or
        = link_to t('.change_password'), edit_password_user_path(@user)
