- if @user.persisted?
  .control-group
    = f.label :old_password, t('.old_password'), class: 'control-label'
    .controls
      = f.password_field :old_password, placeholder: t('.old_password_placeholder'), autofocus: 'autofocus'
.control-group
  = f.label :password, t('.new_password', new: @user.new_record? ? '' : 'new '), class: 'control-label'
  .controls
    = f.password_field :password, placeholder: t('.new_password_placeholder')
.control-group
  = f.label :password_confirmation, t('.retype_password'), class: 'control-label'
  .controls
    = f.password_field :password_confirmation, placeholder: t('.retype_password_placeholder')
