= form_for @user do |f|
  = render partial: 'shared/form_errors', locals: { model: @user, model_name: "user's password" }
  = render partial: 'password_fields', locals: { f: f }
  .form-actions
    = f.submit t("helpers.links.change_password")
    = link_to t("helpers.links.cancel"), edit_user_path(@user)
