= form_tag user_sessions_path, :method => :post do
  = label_tag :email, nil
  = text_field_tag :email, params[:email], autofocus: 'autofocus'
  = label_tag :password, nil
  = password_field_tag :password, nil
  %div#remember_me
    = check_box_tag(:remember)
    = label_tag :remember, "Keep me logged in"
  .form-actions
    = submit_tag "Login"
    = link_to t('.forgot', default: 'Forgot password'), 'javascript:;', id: 'forgot_password'
