!!!
%html{ lang: 'en' }
  %head
    %title RailsTemplateApp
    %meta{property: "og:url", content: "http://www.railstemplateapp.com/"}
    %meta{property: "og:title", content: "RailsTemplateApp"}
    %meta{name: 'Description', content: 'TODO: describe RailsTemplateApp'}
    %meta{property: 'og:description', content: 'TODO: describe RailsTemplateApp'}
    -#%meta{property: 'og:image', content: "http://www.railstemplateapp.com#{image_path('screenshot.png')}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    :javascript
      RailsTemplateApp = {};
    /[if lt IE 9]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js', type: 'text/javascript'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %body{ class: "#{controller_name} #{controller_name}_#{params[:action]}" }
    .navbar
      .container
        = link_to 'RailsTemplateApp', root_path, class: 'brand'
        %ul
          %li#usermenu
            %a#email.popup-parent{ href: "javascript:;" }
            %ul.popup-menu
              %li= link_to "Logout", logout_path
          %li#signup= link_to "Sign up", signup_path
          %li.orlogin or
          %li#login= link_to "Login", login_path
    .container
      =render partial: "shared/flash_messages", locals: { flash: flash }
      = yield
